# Temp files
*~
\#*\#
.#*
*.dump
*.log

#
# Linux make
#
i686/*
x86_64/*
*.gmo

#
# CMAKE
#
CMakeFiles
Makefile
*.cmake
# exception for files beyond conf/
!conf/*

CMakeCache.txt
obj/
obj-release/
obj-debug/
obj-memory/
build/
version.h

# SWF files

*.swf

# Cscope
cscope*

#Testsuite
tests/tamarin

# QtCreator
*.autosave
CMakeLists.txt.user*
