[Desktop Entry]
Name=Lightspark
Comment=An alternative flash player
TryExec=lightspark
Exec=lightspark
Icon=lightspark
Type=Application
Categories=Multimedia;Game;AudioVideo;Video;Player;Viewer;
MimeType=application/x-shockwave-flash;
StartupNotify=true
